<!DOCTYPE html>
<html>
	<head>
		<title> Le Wiki </title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Spirax" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/basic.css">
	</head>

	<body>
		<header>
			<div>
				<div class="a">
					<div class="b">
						<div class="d">
							<div></div>
									<table class="h">
										<tbody>
											<tr>
												<td>
													<a class="a1"  href="/">  L&nbsp;e  &nbsp;&nbsp;&nbsp; W&nbsp;i&nbsp;k&nbsp;i </a>
												</td>
												{% block Navbar %}
												{% endblock %}
											</tr>
										</tbody>
									</table>
							<div></div>	
						</div>
					</div>
				</div>
			</div>
		</header>
		{% block cont %}
		{% endblock %}
	</body>
</html>